.root {
  user-select: none;
  display: flex;
  align-items: center;

  border-radius: 4px;
  border: 0px;
  height: fit-content;

  transition: 0.3s all;
}

.size {
  &--sm {
    padding: 4px 16px;

    &.icon-only {
      padding: 4px;
    }
  }
  &--md {
    padding: 8px 16px;

    &.icon-only {
      padding: 8px;
    }
  }
  &--lg {
  }
}

.width {
  &--fit-content {
    width: fit-content;
  }
  &--fit-container {
    width: 100%;
  }
}

.text-alignment {
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
}

.variant {
  &--filled {
    &.color {
      &--purple {
        color: #f8f5ff;
        background-color: #6f33b5;

        &:hover {
          background-color: #5e2b99;
        }
      }
      &--red {
        color: #f8f5ff;
        background-color: #b54848;

        &:hover {
        }
      }
      &--green {
        color: #f8f5ff;
        background-color: #48b567;

        &:hover {
        }
      }
    }
  }

  &--transparent {
    &.color {
      &--grey {
        color: #bbbaba;
        background-color: transparent;

        &:hover {
          background-color: rgba(187, 186, 186, 0.4);
        }
      }
      &--blue {
        color: #6caeff;
        background-color: transparent;

        &:hover {
          background-color: rgba(108, 174, 255, 0.4);
        }
      }
    }
  }

  &--unset {
    all: unset;
  }
}
